.font-ballet {
  font-family: 'Ballet', cursive;
}

.font-gilda {
  font-family: 'Gilda Display', serif;
}

.font-eb-garamond {
  font-family: 'EB Garamond', serif;
}

.font-abhaya {
  font-family: 'Abhaya Libre', serif;
}
